.project-card{
    width: 100%;
padding: 6rem 2rem;
}

.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    padding-bottom: 5rem;
    justify-content: center;
    align-items: center;
}

.project-card{
    background: #1a1919;
    padding: 1.2rem 1rem;
}

.project-card img{
    width: 400px;
    height: 300px;
  
}

.project-title{
 color: #fff;
 padding: 1rem 0;
}


.pro-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
    height: 150px;
}

.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.pro-btn{
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 1285px) {
    
  
     .pro-details p{
        padding-bottom: 1rem;
        font-size: 1.6rem;
        text-align: justify;
        height: 150px;
    }
    .project-card{
       width: 100%;
        justify-content: center;
        align-items: center;
    }
    .project-container img{
        width: 100%;
        height: 700px;
     }
    .project-container{
       width: 100%;
       max-width: 900PX;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding-bottom: 5rem;
        justify-content: center;
        align-items: center;
    }
    
   
    }

@media screen and (max-width: 1026px) {
    
    .pro-details p{
        padding-bottom: 1rem;
        font-size: 1.6rem;
        text-align: justify;
        height: 150px;
    }
    .project-card{
       width: 100%;
        justify-content: center;
        align-items: center;
    }
    .project-container img{
        width: 100%;
        height: 700px;
     }
    .project-container{
       width: 100%;
       max-width: 900PX;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding-bottom: 5rem;
        justify-content: center;
        align-items: center;
    }
    }

@media screen and (max-width: 860px) {
    
    .project-container{
        max-width: 100%;
        margin: auto;
        grid-template-columns: 1fr;
     }
     .project-container img{
        width: 100%;
        height: 500px;
     }
     .pro-details p{
        padding-bottom: 1rem;
        font-size: 1.6rem;
        text-align: justify;
        height: 150px;
    }
    }

    @media screen and (max-width: 545px) {
    
        .project-container{
            max-width: 100%;
            margin: auto;
            grid-template-columns: 1fr;
         }
         .project-container img{
            width: 100%;
            height: 500px;
         }
         .pro-details p{
            padding-bottom: 1rem;
            font-size: 1.4rem;
            text-align: justify;
            height: 150px;
        }
        }
@media screen and (max-width: 770px) {
    
.project-container{
    max-width: 100%;
    margin: auto;
    grid-template-columns: 1fr;
 }

 .project-container img{
    width: 100%;
    height: 500px;
 }
}

@media screen and (max-width: 395px) {
    
     .project-container img{
        width: 100%;
        height: 300px;
     }
     .pro-details p{
        padding-bottom: 1rem;
        font-size: 1rem;
        text-align: justify;
        height: 150px;
    }
    }

 @media screen and (max-width: 345px) {
    
        .project-container img{
           width: 100%;
           height: 300px;
        }
        .pro-details p{
           padding-bottom: 1rem;
           font-size: 1rem;
           text-align: justify;
           height: 150px;
           margin-bottom: 5%;
       }
       }
@media screen and (max-width: 440px) {
    
        .project-container img{
           width: 100%;
           height: 300px;
        }
        .pro-details p{
            padding-bottom: 1rem;
            font-size: 1.1rem;
            text-align: justify;
            height: 150px;
     
        }
       }